mark {
  --color1: springgreen;
  --color2: springgreen;
  --bg-height: 40%;
    
  all: unset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color2)));
  background-image: linear-gradient(var(--color1), var(--color2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--bg-height);
  -webkit-animation: highlight 800ms 1 ease-out;
          animation: highlight 800ms 1 ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}


@-webkit-keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}


@keyframes highlight {
  to {
    background-size: 100% var(--bg-height);
  }
}


























































































































































































































































































































































































































































































































































































































































































































































































/* DEMO RELATED CODE*/

main {
  width: min(50ch, 80%);
  margin: 0 auto;
  padding: 100px 0;
}

span {
  white-space: nowrap;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 0.8rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center
}

span img {
    margin: 0 0 0 4px;
  }
